.test {
    background-color: black;
    font-size: 2px;
    text-align: center;
    background-position: 0%;
    align-self: auto;
    background-repeat: inherit;
    align-items: center;
    border: 2px solid blue;
}